/* 全局樣式 */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000; /* 背景設為黑色 */
  color: #fff; /* 字體顏色 */
  font-family: Arial, sans-serif;
  height: 100%;
  cursor: url('https://alexliu8665.github.io/Coding-with-Spatial-Pratice/Project/PJ-1/astronaut.png') 32 32, auto; /* 太空人鼠標 */
}

/* Three.js 容器 */
#sphereContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 選單樣式 */
.overlay-text {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
}

select#planetSelect {
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  outline: none;
}
