/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  overflow: hidden;
}

/* Overlay Text */
.overlay-text {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 10;
}

select#planetSelect {
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  outline: none;
}

select#planetSelect:focus {
  border: 2px solid #555;
}

/* Sphere container for Three.js */
#sphere-container {
  width: 100vw;
  height: 100vh;
}
