
h1{
  font-size: 50pt;
  text-align: center;
  color: rgb(0, 90, 125);
}

h2{
  font-size: larger;
  text-align: center;
  color: rgb(0, 90, 125);
}

em{
  color: rgb(178, 178, 178);
  align-items: center;
}

body {
  background-color: rgb(245, 245, 245);
}